<H3> Hi there, welcome to my project {{title | uppercase}}</H3>

<p>Days of the week in Icelandic</p>

<div *ngFor="let day of days">
  <div [ngSwitch]="day">
    <div *ngSwitchCase="'Monday'">mánudagur</div>
    <div *ngSwitchCase="'Tuesday'">Þriðjudagur</div>
    <div *ngSwitchCase="'Wednesday'">Miðvikudagur</div>
    <div *ngSwitchCase="'Thursday'">Fimmtudagur</div>
    <div *ngSwitchCase="'Friday'">Föstudagur</div>
    <div *ngSwitchCase="'Saturday'">Laugardagur</div>
    <div *ngSwitchCase="'Sunday'">Sunnudagur</div>
    <div *ngSwitchDefault>I don't know which day is it</div>
  </div>
</div>
