<!--<h3 [className]="colorClass">{{title}} Property binding</h3>-->

<!--<input [disabled]="isDisable" (focus)="onFocus()">
<br>
<input [disabled]="isDisable" (click)="onClick($event)">
<br>
<input [disabled]="isDisable" (mousemove)="onMouseMovement($event)">
<br>
<input [disabled]="isDisable" (paste)="onPaste()">{{inputText}}
<br>
<button (click)="change()">Change</button>-->

<p>This animal is {{group}}, and its food is {{preyType}}</p>

<label for="male">Group</label>
<input [(ngModel)]="group">
<br>
<label for="male">Food</label>
<input [(ngModel)]="preyType">
